#friends-dsplay-link {
    margin: 95px 0px;
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
}

#friends-dsplay-link i {
    opacity: 0.4;
}