#friends-display-link {
    margin-top: 95px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
}

#friends-display-link i {
    opacity: 0.4;
}