.badge {
    background-color: tomato;
    border-radius: 15px;
    /* display: block; */
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.badge.count.chat {
    left: 0px;
    bottom: 0px
}